* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.App {
    padding: 0 20rem;
}

.title {
    padding: 2rem 0;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 1.2rem 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    padding: 2rem 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #26AB8A;
    text-transform: uppercase;
    font-weight:800;
}

h3 {
    text-align: center;
    color: white;
}

h4 {
    font-size: 24px;
    font-weight: 240;
    color: white;
}

h5 {
    font-size: 18px;
    font-weight: 240;
    font-style: italic;
    margin-bottom: 1rem;
    color: white;
}

p {
    color: white;
    font-size: 16px;
}

.item {
    display: grid;
    margin-left: 18rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 56%;
    height: 180px;
}

.item::hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.item-container {
    overflow: hidden;
}

.item-con {
    padding: 1.2rem 1.2rem;
    background-color: #226072;
    border-radius: 10px;
}

.item-con:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.item-container>img {
    width: 480px;
    height: 160px;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.item-container>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-container-ktg {
    width: 480px;
    height: 386px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0, 3s;
    animation: ease-in;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #226072;
}

.card-container-ktg:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container-ktg img {
    overflow: hidden;
    height: 320px;
    width: 600px;
    position: relative;
    z-index: 1;
}

.card-content-ktg {
    margin: 1rem;
    margin-top: 0.5rem;
}

.card-title-ktg {
    margin-bottom: 0.5rem;
}

.btn-card {
    display: flex;
    justify-content: center;
}

.btn-card button {
    padding: 0.5rem;
    background-color: #5EC27F;
    border: none;
    transition: 0.2s;
    margin-bottom: 5rem;
    border-radius: 8px;
}

.btn-card button:hover {
    background-color: lightgray;
}

.a {
    text-transform: uppercase;
    color: lightseagreen;
    text-decoration: none;
    font-weight: bold;
}