.bungkus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 130px;
}

.gambarlima {
    width: 500px;
    height: 350px;
}

.bungkusSatu {
    width: 500px;
    padding-top: 10px;
}

.bungkusSatu > h5 {
    padding-top: 20px;
    text-align: justify;
    color: black;
}

.bungkusSatu > h1 {
    padding-top: 10px;
}